[server]
host = '0.0.0.0' # on what interface to run the server on
port = 2052 # on what port to run the server on
online_mode = true # validate users using TINET Authentication
api_key = "change me to use online-mode" # App API Key from TINET (Enable under Experiments)
protect_server = false # protect your server with a password
server_password = "12345678" # password for the server (requires protect_server to be true)

[web]
enable = true # enable the web ui
host = "0.0.0.0" # on what interface to run the web ui on
port = 8000 # on what port to run the web ui on